$thin-weight: 200;
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 600;
$xbold-weight: 700;

$font-assets-directory: "./../../assets/fonts/roboto/";

@mixin font-face($font-family, $font-weight, $filename, $font-style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $font-weight;
        font-style: $font-style;
        src: url($font-assets-directory + $filename);
    }
}

// Roboto
@include font-face("Roboto", $thin-weight, "Roboto-Thin.ttf");
@include font-face("Roboto", $light-weight, "Roboto-Light.ttf");
@include font-face("Roboto", $regular-weight, "Roboto-Regular.ttf");
@include font-face("Roboto", $medium-weight, "Roboto-Medium.ttf");
@include font-face("Roboto", $bold-weight, "Roboto-Bold.ttf");
@include font-face("Roboto", $xbold-weight, "Roboto-Black.ttf");

@include font-face("Roboto", $thin-weight, "Roboto-ThinItalic.ttf", italic);
@include font-face("Roboto", $light-weight, "Roboto-LightItalic.ttf", italic);
@include font-face("Roboto", $regular-weight, "Roboto-Italic.ttf", italic);
@include font-face("Roboto", $medium-weight, "Roboto-MediumItalic.ttf", italic);
@include font-face("Roboto", $bold-weight, "Roboto-BoldItalic.ttf", italic);
@include font-face("Roboto", $xbold-weight, "Roboto-BlackItalic.ttf", italic);

// Merriweather
@include font-face("Merriweather", $light-weight, "Merriweather-Light.ttf");
@include font-face("Merriweather", $regular-weight, "Merriweather-Regular.ttf");
@include font-face("Merriweather", $bold-weight, "Merriweather-Bold.ttf");
@include font-face("Merriweather", $xbold-weight, "Merriweather-Black.ttf");

@include font-face("Merriweather", $light-weight, "Merriweather-LightItalic.ttf", italic);
@include font-face("Merriweather", $regular-weight, "Merriweather-Italic.ttf", italic);
@include font-face("Merriweather", $bold-weight, "Merriweather-BoldItalic.ttf", italic);
@include font-face("Merriweather", $xbold-weight, "Merriweather-BlackItalic.ttf", italic);